.userTABLE {
    display: table;
    width: 100%;
}

.userPicTD {
    display: table-cell;
    width: 175px;
    height: 175px;
    vertical-align: middle;
    text-align: center;
}

.userPicTD img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 2px solid darkgray;
}

.userPicTABLE {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

.userTopTABLE {
    display: table;
    width: 100%;
    padding-left: 10px;
}

.userTopTD {
    display: table-cell;
}

.userBottomTABLE {
    display: table;
    width: 100%;
}

.userBottomTD {
    display: table-cell;
}

.userNameTD {
    display: table-cell;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    vertical-align: middle;
    padding: 5px;
}