.user_profile {
    font-family: 'Open Sans', sans-serif;
}

.rTableRow {
    display: table-row;
    white-space: nowrap;
    vertical-align: middle;
}

.user_welcome {
    display: table;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    width:100%;
}

.user_info {
    display: table;
    border-spacing: 10px;
}

.user_picture {
    display: table-cell;
    width: 160px;
    height: 160px;
    vertical-align: middle;
}

.user_picture img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 2px solid darkgray;
}

.user_details {
    display: table-cell;
    font-size: 14px;
}

.user_name {
    display: table-cell;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    vertical-align: middle;
}

.user_contact {
    display: table;
    width:100%;
    font-size: 14px;
    border-spacing: 10px;
}

.buyer_info {
    display: table;
    width: 100%;
}

.buyer_col1 {
    display: table-cell;
    height: 160px;
    width: 160px;
}

.buyer_col1 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 2px solid darkgray;
}

.buyer_col2 {
    display: table-cell;
    width: 20%;
    vertical-align: top;
    padding: 15px;
}

.buyer_col3 {
    display: table-cell;
    background-color: lightgray;
    padding: 15px;
    vertical-align: top;
}

.buyer_col4 {
    display: table-cell;
    background-color: lightgray;
    padding: 15px;
    vertical-align: top;
}

.buyer_col5 {
    display: table-cell;
    width: 5%;
}