<div data-bind="attr:{ id:'SS-PieChart-JSON-' + $data.id()}" class="data_viz_pie">
    <div class="widget_header">
        <div class="title_box"></div>
        <div class="widget_title"><span data-bind="text: $data.chartHeading "></span></div>
        <div class="widget_divider"></div>
    </div>
    <canvas data-bind="css:{canvas1:$index()==0},attr:{ id:'canvas-'+ $data.id()}"></canvas>
</div>