<div class="tabs" data-bind="attr:{ id:'SS-Tab-JSON-'+ $data.id()}">
    <div class="imglink" data-bind="attr:{ id:'tab-'+ $data.tabNameTrim() }"><img data-bind="attr: {src: $data.tabImage, alt: $data.tabName }"><br><span class="imglabel" data-bind="text: $data.tabName "></span></div>
</div>